.avatar {
  border-radius: 50%;
  float: left;
  margin-right: 1em;
}

.point{
display: inline-block;
padding: 0;
margin: 0;
padding-left: 50px;
}

.thick {
font-weight: bold;
}

body {
padding: 0;
margin: 0;
padding-bottom: 5%;
}

section {
padding: 0;
margin: 0;
padding-bottom: 20px;
}

h1, h2, .center {
text-align: center;
padding: 0;
margin: 0;
}

h3 {
padding: 0;
margin: 0;
}

table {
width: 100%;
}

td.left {
text-align: left;
}

td.right {
text-align: right;
}

input[type=text] {
display: block;
width: 20%;
margin: 8px 0;
}

textarea {
display: block;
width: 20%;
margin: 8px 0;
padding: 20px 0;
}

.form-group {
text-align: left;
padding-left: 5%;
}

.bullet {
display: list-item;
margin-left: 5%;
}

.left-indent {
margin-left: 5%;
}

.listed-items {
margin: 0;
padding: 0;
margin-left: 5%;
display: list-item;
}

#minor-info {
text-align: center;
font-style: italic;
}

#condensed-table {
width: 50%;
margin-left: auto;
margin-right: auto;
}